@use './variables.scss' as *;

.barra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: $cor-destaque;
    padding-right: 60px;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
    }

    li {
        font-size: $font-size;
        color: $link-color;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $link-color;
        transition: 0.3s ease-in-out;
    }

    a:hover {
        color: #d8d8d8;
    }
}

.containerCabecalho {
    display: flex;
}