$background: white;
$cor-destaque: #0056b3;
$font-color: black;
$font-size: 16px;
$link-color: white;
$color-gray: #d6d6d6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $font-color;
    font-size: $font-size;
}